@import "base/variables";
@import "base/mixin";
@import "base/listas";
//variables
$color-principal: rgb(204, 178, 127);
$color-li: rgb(217, 204, 204) ;
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    margin-bottom: 2rem;
}
/* INDEX PRINCIPAL */
body{
    background-color: $color-principal;
    text-align: center;
    .titulo{
        display: none;
    }
    h1{
        color: nth($list: $colores-font, $n: 3);
        margin-bottom: 1rem;
        text-align: center;
        font-size: 2.3rem;
        text-shadow: 2px 2px rgb(217, 126, 126);
        a{
            text-decoration: none;
        }

    }
    ul{
        margin-top: 15px;
        list-style: none;
        display: flex;
        flex-direction: row !important;  
        justify-content: center;
    }
    li{
        background-color: $color-li;
        width: 90px;
        margin: 0.5rem;
        border-radius: 5px 5px 5px 5px;
        font-weight: bold;
        box-shadow: 2px 2px black;
        @include justify;
        a{
            text-decoration: none;

        }
    }
    header{
        a{
            text-decoration: none;
        }
        .dropdown-menu{
            --bs-dropdown-link-hover-bg: transparent;
            --bs-dropdown-border-color: none;
            background-color: transparent;
        }
    }
}
/* arreglos en el navbar */
.header .navbar {
    position: sticky;
    background-color: transparent !important;
  }
  .navbar-brand{
    font-weight: bold;
  }
  
li:hover{
    transform: scale(1.2);
}
main{
    align-items: center;
}

.mainIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr 1fr 0.5fr;
    grid-template-areas: "img1"
                         "parrafo2"
                         "img2"
                         "parrafo3"
                         "footer";
    justify-content: space-between;
}
.img1{
    margin-top: 0.3rem;
    grid-area: img1;
}
.img2{
    margin-top: 5rem;
    grid-area: img2;
}
.parrafo2{
    border: black 5px dashed;
    padding: 1rem;
    margin: 1rem;
    grid-area: parrafo2;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
}
.parrafo3{
    border: black 5px dashed;
    padding: 1rem;
    margin: 1rem;
    grid-area: parrafo3;
    margin-top: 5rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
}
footer{
    grid-area: footer;
    justify-content: space-around;
    margin-top: 3rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}



/* INDEX IMAGENES */

.mainImagenes{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: none;
    grid-template-areas: "imagen1"
                         "imagen2"
                         "imagen3"
                         "imagen4"
                         "video1"
                         "video2"
                         "footer";
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    .imagen1{
        margin-top: 20px;
    }
    .imagen2{
        margin-top: 20px;
    }
    .imagen3{
        margin-top: 20px;
    }
    .imagen4{
        margin-top: 20px;
    }
    .video1{
        margin-top: 1.2rem;
    }
    .video2{
       margin-top: 1.2rem;
    }
}



/* INDEX UBICACION */
.real{
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
}
main{
    .mapa{
        margin: 30px;
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    .parrafoUbi{
        border: black 5px dashed;
        padding: 1rem;
        margin: 1rem;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        font-weight: bold;
    }
    .divUbi{
        width: 100%;
    }
}

/* INDEX HISTORIA */
main{
    .content2{
        margin-top: 40px;
    }
    .nos{
        font-weight: bold;
        padding: 1rem;
        margin: 1rem;
        border: black 5px dashed;
    }
}

/* INDEX CONTACTO */
main{
    display: flex;
    flex-direction: column;
    .imgContact{
        display: flex;
        justify-content: center;
    }
    section{
        padding: 0.5rem;
        border: black 5px dashed;
    }
    .formu{
        width: 400px;
    }
    .divContact{
        margin: 2rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }
    form{
        margin: 1rem;
        width: 350px;
        padding: 1rem;
        border: black 5px dashed;
        .label2{
            width: 325px;
        }
    }
    .real{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width:1024px){
    /* media querie index principal */
    .mainIndex{
        display: grid;
        justify-content: space-around;
        grid-template-columns: none;
        grid-template-rows: none;
        grid-template-areas: "img1 parrafo2"
                             "img2 parrafo3"
                             "footer footer";
    }
    .img{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    footer{
        grid-area: footer;
        justify-content: space-between;
    }
    .parrafo2{
        text-align: center;
    }
    .parrafo3{
        text-align: center;
        margin-left: 2rem;
    }
    /* media querie index imagenes */
   .mainImagenes{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 0.2fr;
    grid-template-areas: "imagen1 imagen2"
                         "imagen3 imagen4"
                         "video1 video2"
                         "footer footer";
                         .imagen1{
                            grid-area: imagen1;
                            margin-right: 5rem;
                        }
                        .imagen2{
                            grid-area: imagen2;
                            margin-left: 5rem;
                        }
                        .imagen3{
                            grid-area: imagen3;
                            margin-right: 5rem;
                        }
                        .imagen4{
                            grid-area: imagen4;
                            margin-left: 5rem;
                        }
                        .video1{
                            grid-area: video1;
                            margin-right: 5rem;
                            margin-top: 5rem;
                        }
                        .video2{
                            grid-area: video2;
                            margin-left: 5rem;
                            margin-top: 5rem;
                        }
   }
   /*INDEX NOSOTROS/HISTORIA MEDIA Ls*/
   .mainNos{
    display: grid;
    margin-top: 30px;
    grid-template-columns: auto;
    grid-template-areas: auto;
    grid-template-areas: "content content2"
                         "content content2";
    .content{
        display: flex;
        align-items: center;
        grid-area: content;
        width: 45%;
    }
    .content2{
        grid-area: content2;
        width: 50%;
    }
    .textoNos{
        display: flex;
        justify-content: space-around;
    }
   }
   /* INDEX CONTACTO */
   .mainCon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "h1Cont h1Cont"
                         "form imgContact"
                         "divContact imgContact"
                         "footer footer";
    .h1Cont{
        grid-area: h1Cont;
    }
    form{
        margin-left: 190px;
        grid-area: form;
    }
    .divContact{
        grid-area: divContact;
    }
    .imgContact{
        grid-area: imgContact;
    }
    footer{
        grid-area: footer;
    }
   }
   /*INDEX UBICACION*/
   .divUbi{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   }

}


