//variables 
$color-principal: rgb(204, 178, 127);
$color-li: rgb(217, 204, 204) ;
$estilo-fuentes: bold;
//posibles variables
$color-principal-2: rgba(148, 137, 198, 0.895);
$medida-imagenes: width 450px;
$color-footer: rgb(21, 21, 21);
$color-secundario: rgb(155, 135, 104);


